@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    overflow-y: scroll; 
  }


  /* App.css */

/* Custom Scrollbar Styles for the Entire Website */
/* ::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #54dc5c; 
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 10px; 
} */